html {
  background: linear-gradient(#202C39, #F29559, #F2D492);
  height: 100%;
  width: 100%;
}

.button-container {
  display: block;
  height: 80%;
  margin-top: 10%;
  text-align: center;
}

header h1, header h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
header h1 {
  font-size: 70px;
  margin-bottom: -20px;
}
header h2 {
  font-size: 30px;
}

button {
  margin: 10px;
}
button.test-button1 {
  background-color: #395C6B;
  border-radius: 5px;
  box-shadow: 3px 5px 6px #7C6C77;
  color: white;
  font-size: 20px;
  height: 8%;
  transition: all .3s ease-in-out;
  width: 10%;
}
button.test-button1:hover {
  background-color: #00A6A6;
  box-shadow: -3px -5px 6px #DCF2B0;
}
button.test-button2 {
  background-color: #00A6A6;
  border-radius: 30px;
  box-shadow: 3px 5px 6px #7C6C77;
  color: #C2EABD;
  font-size: 20px;
  height: 8%;
  position: relative;
  top: 0;
  transition: .4s ease-in;
  width: 12%;
}
button.test-button2:hover {
  background-color: #C0BABC;
  top: 2px;
}
button.test-button3 {
  background-color: #00A6A6;
  border-radius: 45px;
  box-shadow: 3px 5px 6px #7C6C77;
  color: #3B1F2B;
  font-size: 20px;
  height: 8%;
  position: relative;
  top: 1px;
  transition: all .5s ease-in-out;
  width: 10%;
}
button.test-button3:hover {
  background-color: #3B1F2B;
  color: #00A6A6;
  top: -3px;
}
button.test-button4 {
  background-color: #59C9A5;
  border-radius: 3px;
  box-shadow: 3px 5px 6px #7C6C77;
  color: #FFFD98;
  font-size: 20px;
  height: 8%;
  transition: .5s ease-in-out;
  width: 10%;
}
button.test-button4:hover {
  background-color: #255957;
  border-radius: 25px;
  color: #D81E5B;
}
button.test-button5 {
  background-color: #202C39;
  border-radius: 30px;
  box-shadow: 3px 5px 6px #7C6C77;
  color: #F29559;
  font-size: 20px;
  height: 8%;
  transition: .5s ease-in-out;
  width: 10%;
}
button.test-button5:hover {
  background-color: #B8B08D;
  border-radius: 5px;
  color: #283845;
}
